h1{
   color: red;
}
.titulo-h2 {
	color: skyblue;
}
#i89{
	color: palegreen;
}
[atributo="loco"]{
	color: orangered;
}

h3 p {
	color: orange;
}
button{
	color: yellow;
}
input{
	color: green;
}
p{
	color: pink;
}
b:hover {
	color: purple;
}